<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khome.lnmiitmess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logomain"
        android:label="FoodBuzz"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".signup" />
        <activity android:name=".forgot" />
        <activity android:name=".MainPage" />
        <activity android:name=".newPassword" />
        <activity android:name=".Profile" />
        <activity android:name=".Logout" />
        <activity android:name=".Test" />
        <activity android:name=".Day_after" />
        <activity android:name=".Week_after" />

        <receiver android:name=".AlarmReceiver">

        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


    </application>


</manifest>
